:root {
  --root-note: #f00;
  --thirds: #f89c00;
  --fifths: #2fbb46;
  --text-color: #f9f9f9;
  --background-color: #0e0e0e;
  --interval-color: #f3f78c;
  --medium-grey: #454545;
  --grey: #808080;
  --light-grey: #ccc;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

h2 {
  margin-bottom: 34px;
}
.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.controls select {
  padding: 0.5rem;
  font-size: 1rem;
}

.scale-visual {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  /* overflow-y: scroll; */
  padding-bottom: 20px;
}
.note-label {
  position: relative;
}
.note-box {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--medium-grey);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.interval-line {
  font-family: monospace;
  width: 32px;
  text-align: center;
  color: var(--interval-color);
  font-weight: bold;
}

/* GUITAR */
.fretboard {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 2rem;
}

.string {
  display: flex;
  position: relative;
  width: fit-content;
}

.string::after {
  content: '';
  border-top: 1.5px dashed var(--medium-grey);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--medium-grey);
  z-index: -1;
  left: 50px;
  width: 100%;
}
.string:first-child {
  counter-reset: fret-counter -1;
}

.string:first-child .fret {
  counter-increment: fret-counter;
  position: relative;
}

.string:first-child .fret::before {
  content: counter(fret-counter);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  top: -28px;
  color: var(--medium-grey);
}

.string:first-child .fret:first-child::before {
  content: '';
}

.fret {
  width: 50px;
  border-right: 1px solid var(--text-color);
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 0;
}

.fret .note-box {
  width: 25px;
  height: 25px;
  border: none;
  padding: 2px;
  color: transparent;
  font-size: 14px;
}

.fret:nth-child(2) {
  border-left: 2px solid var(--text-color);
}

.fret.in-scale .note-box {
  background: var(--medium-grey);
  color: var(--text-color);
  font-weight: bold;
}

.fret.root-note .note-box {
  background-color: var(--root-note);
  color: var(--text-color);
  font-weight: bold;
}

/*KEYS*/

.piano {
  display: flex;
  height: 80px;
  position: relative;
  margin-top: 1rem;
}

.key {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  color: transparent;
}

.key.white {
  border: 1px solid var(--background-color);
  width: 40px;
  height: 100%;
  background: var(--text-color);
  z-index: 1;
}

.key.black {
  width: 30px;
  height: 60%;
  background: black;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 999 !important;
}

.key.in-scale.white:not(.root-note, .triad-3rd, .triad-5th) {
  color: var(--background-color);
}

.key.in-scale.black:not(.root-note, .triad-3rd, .triad-5th) {
  color: var(--text-color);
}
.key.in-scale {
  background: var(--light-grey);
  z-index: 1;
}

.key.root-note {
  color: var(--root-note);
}

.key.black.in-scale {
  background: var(--medium-grey);
}

/*STATES*/

.degree {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -22px;
  font-family: 'Arvo', serif;
  font-size: 14px;
  color: var(--grey);
}

.scale-visual .note-box.root-note {
  border-color: var(--root-note);
}

.scale-visual .triad-3rd .note-box {
  border-color: var(--thirds);
}

.scale-visual .triad-5th .note-box {
  border-color: var(--fifths);
}

.fret.triad-3rd .note-box {
  background: var(--thirds);
}

.fret.triad-5th .note-box {
  background: var(--fifths);
}

.key.triad-3rd {
  color: var(--thirds);
}

.key.triad-5th {
  color: var(--fifths);
}
